.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
.fastq
.fastq.gz
**/.fastq
**/.fastq.gz 
**/.fasta
.fasta  
Mcap2020/Data/16S/Sequences/
Mcap2020/Data/ITS2/Sequences/
Mcap2020/Data/TagSeq/Sequences/ 

